// Media queries
$md_screen: 1199px
$sm_screen: 991px
$xs_screen: 575px

// Colors
$gold_color: rgba(235,115,59,1)
$gold_text_gradient: linear-gradient(to right, rgba(235,115,59,1) 0%, rgba(250,164,125,1) 50%, rgba(235,115,59,1) 100%)
$modal_overlay: rgba(0, 0, 0, 0.75)

// Shadows
$main_shadow_prop: 0px 0px 5px 0px rgba(0,0,0,0.75)
