// TODO:
// 1. Бургер на CSS написать + убрать осм фонтс (+)
// 2. Анимации (+)
// 3. Правки:
// - контакты (+)
// - видео (+)
// - продукты (+)
// - Ирландия (+)
// ! пофиксить видосы везде ! (+)

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Roboto:500')

@import 'vars'

// Typo
h2, h3, h4
	letter-spacing: 2px
	font-size: 29px
	margin-bottom: 20px
	text-transform: uppercase
	@media (max-width: $xs_screen)
		font-size: 23px
p
	font-family: 'Lora', serif
	line-height: 30px
.gold
	background: $gold_text_gradient
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
.column__title
	font-size: 21px
	min-height: 75px
	@media (max-width: $sm_screen)
		min-height: auto
ol
	counter-reset: myCounter
	margin: 0
	padding: 0
li
	list-style: none
a
	color: #fff
	&:hover
		color: #fff
		text-decoration: none
		opacity: 1
.gold-link
	color: #d38050
	text-decoration: underline
	font-style: italic
	&:hover
		color: #d38050
		text-decoration: underline

body
	background-image: url('../img/backgrounds/body_bg.png')
	background-size: cover
	color: #fff
	font-size: 18px
	overflow-x: hidden
	@media (max-width: $sm_screen)
		font-size: 16px
nav
	height: 80px
	padding-top: 35px !important
	background-image: url('../img/backgrounds/navbar_bg.png')
	box-shadow: $main_shadow_prop
	@media (max-width: $sm_screen)
		height: auto
	.container
		height: 100%
.nav-link
	color: #fff !important
	opacity: 0.6
	padding-right: 30px !important
	position: relative
	font-weight: 500
	letter-spacing: 1.5px
	@media (max-width: $md_screen)
		letter-spacing: 0
	&:after
		content: "|"
		position: absolute
		right: 9px
		top: 6px
		opacity: 0.6
		@media (max-width: $sm_screen)
			content: none
.nav-item:last-child
	.nav-link:after
		content: none
.active
	.nav-link
		opacity: 1
.nav-logo-img
	width: 300px
	margin-left: -20px
	@media (max-width: $sm_screen)
		position: absolute
		top: -16px
	@media (max-width: $xs_screen)
		width: 270px
		top: -7px
.navbar-nav
	margin: auto
	@media (max-width: $sm_screen)
		margin-top: 35px
.navbar-toggler__bar
	width: 25px
	height: 2px
	margin: 6px
	background-color: $gold_color
.header-slider-photo
	height: 100vh
	background-size: cover
	background-position: center
	&:nth-child(1)
		background-image: url('../img/home_header_img.png')
	&:nth-child(2)
		background-image: url('../img/home_header_img.png')
	&:nth-child(3)
		background-image: url('../img/home_header_img.png')
.navbar-toggler
	// border: 1px solid $gold_color
	border: none
	margin-top: -8px
.fa-bars
	color: $gold_color
section.index-header-text
	padding: 75px 0
.column__counter
	border-bottom: solid 1px #fff
	margin-bottom: 20px
	&:before
		counter-increment: myCounter
		content: counter(myCounter)
		color: rgba(174,90,51,1)
		background: #fff
		display: inline-block
		text-align: center
		line-height: 40px
		width: 40px
		height: 40px
		font-size: 20px
		font-weight: 500
.column__text
	font-size: 17px
	text-align: justify
.column__photo
	width: 100%
	margin: 50px 0
	box-shadow: $main_shadow_prop
footer
	margin-top: -50px
	padding-top: 40px
	padding-bottom: 40px
	background-color: #000
	box-shadow: $main_shadow_prop
.footer__link
	margin-right: 30px
	position: relative
	opacity: 1
	font-weight: 700
	letter-spacing: 1.8px
	font-size: 12px
	&:after
		content: "|"
		position: absolute
		right: -19px
		top: -2px
		opacity: 1
.footer__link-active
	opacity: 1
.footer__link:last-child
	&:after
		content: none
.products-desc__column
	text-align: center
#product-bottle-2
	margin-top: -10px
#product-bottle-3
	margin-top: 10px
.products-desc__bottle-container
	height: 525px
	display: flex
	flex-direction: column
	justify-content: flex-end
	align-items: center
	margin-bottom: 180px
	@media (max-width: $sm_screen)
		margin-bottom: 50px
.products-desc__product-label
	margin-bottom: 50px
	box-shadow: $main_shadow_prop
	border-radius: 50%
.column__info-card
	padding: 25px
	background-color: #000
	border-top: solid 1px #fff
	border-bottom: solid 1px #fff
	text-align: center
	height: 100%
	@media (max-width: $sm_screen)
		height: auto
	@media (max-width: $md_screen)
		margin-bottom: 10px
		h4
			font-size: 20px
		p
			font-size: 16px
	p
		margin-bottom: 50px
		&:last-child
			margin-bottom: 0
.desktop-info-card-container
	@media (max-width: $sm_screen)
		display: none
.medals-container
	text-align: center
	margin-top: 50px
	img
		width: 100%
		margin-bottom: 50px
.video
	display: none
.video, .video-preview
	height: 84vh
	box-shadow: $main_shadow_prop
.video-preview
	width: 100%
	background-size: cover
	background-position: center
	display: flex
	justify-content: center
	align-items: center
#video-preview-1
	background-image: url("../img/video_preview_1.png")
#video-preview-2
	background-image: url("../img/video_preview_2.png")
#video-preview-3
	background-image: url("../img/video_preview_3.png")	
.embed-video-container
	position: relative
.play-btn
	width: 150px
	height: 150px
	opacity: .7
	cursor: pointer
	&:hover
		opacity: 1
.close-btn-container
	display: none
	position: absolute
	right: 25px
	top: 25px
.close-btn
	cursor: pointer
	opacity: .7
	&:hover
		opacity: 1
.video-desc
	margin-top: 75px
	margin-bottom: 50px
	h2
		margin-bottom: 5px
	h2, h3
		font-weight: 700
	p
		font-size: 16px
.buy-btn
	display: inline-block
	width: 260px
	height: 46px
	margin: 50px auto
	text-align: center
	background-image: url('../img/buy-btn.svg')
	display: inline-flex
	justify-content: center
	align-items: center
	font-size: 16px
	font-weight: 500
	letter-spacing: 1px
form
	text-align: right
#name, #surname
	margin-bottom: 40px
	@media (max-width: $sm_screen)
		margin-bottom: 20px
#email
	@media (max-width: 767px)
		margin-bottom: 20px
textarea
	height: 100%
	resize: none
	overflow: hidden
	margin-bottom: 20px
button[type="submit"]
	background-color: transparent
	border: none
	cursor: pointer
	font-weight: 700
	letter-spacing: 2px
	padding-right: 0
	transition: .5s
	&:hover, &:focus, &:visited, &:active
		background-color: transparent !important
		border: none !important
		border-color: transparent !important
		box-shadow: none !important
		outline: none !important
		color: $gold_color
section.contact
	margin-bottom: 100px
.adress
	margin-bottom: 100px
.adress__link
	text-decoration: underline
	&:hover
		text-decoration: underline


// Pages customization
.products
	padding-top: 200px
	.column__title
		margin-bottom: 25px
		min-height: auto
		font-weight: 700
	.column__text
		&:last-child
			margin-bottom: 50px
	.column__photo
		margin-top: 0
	.products-desc
		&:before
			content: ""
			width: 100%
			height: 200px
			background-color: #000
			position: absolute
			top: 565px
			@media (max-width: $sm_screen)
				content: none
.videos
	footer
		margin-top: 0
.videos, .irland
	padding-top: 83px
#video-desc2__irland
	margin-bottom: 0
	.row
		margin-bottom: 75px
.contacts
	padding-top: 200px
	@media (max-width: $sm_screen)
		padding-top: 125px
	h2
		font-weight: 500
	#impressum
		margin-bottom: 50px
	footer
		margin-top: 0
	.form-control
		border-radius: 0 !important
		font-family: 'Lora', serif


// Modal
.modal
	text-align: center
	background-color: $modal_overlay
.modal-dialog
	height: 90%
	display: flex
	justify-content: center
	align-items: center
.modal-content
	background-color: transparent
	border: none
.modal-header, .modal-footer
	border: none
.modal__logo
	margin: auto
.modal__form
	width: 100%
	text-align: center
	button[type="submit"]
		padding: .375rem .75rem
		margin-top: 20px
		font-size: 17px
		letter-spacing: 2.5px
.modal__select
	display: flex
	justify-content: space-around
	select
		width: 25%

// Videos
