@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Roboto:500");
h2, h3, h4 {
  letter-spacing: 2px;
  font-size: 29px;
  margin-bottom: 20px; }
  @media (max-width: 575px) {
    h2, h3, h4 {
      font-size: 23px; } }

p {
  font-family: 'Lora', serif;
  line-height: 30px; }

.gold {
  background: linear-gradient(to right, #eb733b 0%, #faa47d 50%, #eb733b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.column__title {
  font-size: 21px;
  min-height: 75px; }
  @media (max-width: 991px) {
    .column__title {
      min-height: auto; } }

ol {
  counter-reset: myCounter;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #fff; }
  a:hover {
    color: #fff;
    text-decoration: none;
    opacity: 1; }

.gold-link {
  color: #d38050;
  text-decoration: underline;
  font-style: italic; }
  .gold-link:hover {
    color: #d38050;
    text-decoration: underline; }

body {
  background-image: url("../img/backgrounds/body_bg.png");
  background-size: cover;
  color: #fff;
  font-size: 18px;
  overflow-x: hidden; }
  @media (max-width: 991px) {
    body {
      font-size: 16px; } }

nav {
  height: 80px;
  padding-top: 35px !important;
  background-image: url("../img/backgrounds/navbar_bg.png");
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
  @media (max-width: 991px) {
    nav {
      height: auto; } }

.nav-link {
  color: #fff !important;
  opacity: 0.6;
  padding-right: 30px !important;
  position: relative;
  font-weight: 500;
  letter-spacing: 1.5px; }
  @media (max-width: 1199px) {
    .nav-link {
      letter-spacing: 0; } }
  .nav-link:after {
    content: "|";
    position: absolute;
    right: 9px;
    top: 6px;
    opacity: 0.6; }
    @media (max-width: 991px) {
      .nav-link:after {
        content: none; } }

.nav-item:last-child .nav-link:after {
  content: none; }

.active .nav-link {
  opacity: 1; }

.nav-logo-img {
  width: 300px;
  margin-left: -20px; }
  @media (max-width: 991px) {
    .nav-logo-img {
      position: absolute;
      top: -16px; } }
  @media (max-width: 575px) {
    .nav-logo-img {
      width: 270px;
      top: -7px; } }

.navbar-nav {
  margin: auto; }
  @media (max-width: 991px) {
    .navbar-nav {
      margin-top: 35px; } }

.header-slider-photo {
  height: 100vh;
  background-size: cover;
  background-position: center; }
  .header-slider-photo:nth-child(1) {
    background-image: url("../img/home_header_img.png"); }
  .header-slider-photo:nth-child(2) {
    background-image: url("../img/home_header_img.png"); }
  .header-slider-photo:nth-child(3) {
    background-image: url("../img/home_header_img.png"); }

.navbar-toggler {
  border: none;
  margin-top: -8px; }

.fa-bars {
  color: #eb733b; }

section.index-header-text {
  padding: 75px 0; }

.column__counter {
  border-bottom: solid 1px #fff;
  margin-bottom: 20px; }
  .column__counter:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: #ae5a33;
    background: #fff;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: 500; }

.column__text {
  font-size: 17px;
  text-align: justify; }

.column__photo {
  width: 100%;
  margin: 50px 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }

footer {
  padding-bottom: 40px; }

.footer__link {
  margin-right: 30px;
  position: relative;
  opacity: .6; }
  .footer__link:after {
    content: "|";
    position: absolute;
    right: -19px;
    top: -2px;
    opacity: 1; }

.footer__link:last-child:after {
  content: none; }

.products-desc__column {
  text-align: center; }

.products-desc__bottle-container {
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 50px; }

.products-desc__product-label {
  margin-bottom: 50px; }

.column__info-card {
  padding: 25px;
  background-color: #000;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  min-height: 325px; }
  @media (max-width: 1199px) {
    .column__info-card {
      min-height: 352px; } }
  @media (max-width: 1199px) {
    .column__info-card {
      min-height: auto; } }
  .column__info-card h4 {
    font-size: 22px;
    margin-bottom: 10px; }
  .column__info-card p {
    margin-bottom: 50px; }
    .column__info-card p:last-child {
      margin-bottom: 0; }

.medals-container {
  text-align: center;
  margin-top: 50px; }
  .medals-container img {
    width: 100%;
    margin-bottom: 50px; }

.products {
  padding-top: 150px; }
  .products .column__title {
    margin-bottom: 25px;
    min-height: auto; }
  .products .column__text-container {
    min-height: 580px; }
    @media (max-width: 1199px) {
      .products .column__text-container {
        min-height: 700px; } }
    @media (max-width: 991px) {
      .products .column__text-container {
        min-height: auto; } }
  .products .column__text:last-child {
    margin-bottom: 50px; }
  .products .column__photo {
    margin-top: 0; }
