@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700|Roboto:500");
h2, h3, h4 {
  letter-spacing: 2px;
  font-size: 29px;
  margin-bottom: 20px;
  text-transform: uppercase; }
  @media (max-width: 575px) {
    h2, h3, h4 {
      font-size: 23px; } }

p {
  font-family: 'Lora', serif;
  line-height: 30px; }

.gold {
  background: linear-gradient(to right, #eb733b 0%, #faa47d 50%, #eb733b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.column__title {
  font-size: 21px;
  min-height: 75px; }
  @media (max-width: 991px) {
    .column__title {
      min-height: auto; } }

ol {
  counter-reset: myCounter;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #fff; }
  a:hover {
    color: #fff;
    text-decoration: none;
    opacity: 1; }

.gold-link {
  color: #d38050;
  text-decoration: underline;
  font-style: italic; }
  .gold-link:hover {
    color: #d38050;
    text-decoration: underline; }

body {
  background-image: url("../img/backgrounds/body_bg.png");
  background-size: cover;
  color: #fff;
  font-size: 18px;
  overflow-x: hidden; }
  @media (max-width: 991px) {
    body {
      font-size: 16px; } }

nav {
  height: 80px;
  padding-top: 35px !important;
  background-image: url("../img/backgrounds/navbar_bg.png");
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
  @media (max-width: 991px) {
    nav {
      height: auto; } }
  nav .container {
    height: 100%; }

.nav-link {
  color: #fff !important;
  opacity: 0.6;
  padding-right: 30px !important;
  position: relative;
  font-weight: 500;
  letter-spacing: 1.5px; }
  @media (max-width: 1199px) {
    .nav-link {
      letter-spacing: 0; } }
  .nav-link:after {
    content: "|";
    position: absolute;
    right: 9px;
    top: 6px;
    opacity: 0.6; }
    @media (max-width: 991px) {
      .nav-link:after {
        content: none; } }

.nav-item:last-child .nav-link:after {
  content: none; }

.active .nav-link {
  opacity: 1; }

.nav-logo-img {
  width: 300px;
  margin-left: -20px; }
  @media (max-width: 991px) {
    .nav-logo-img {
      position: absolute;
      top: -16px; } }
  @media (max-width: 575px) {
    .nav-logo-img {
      width: 270px;
      top: -7px; } }

.navbar-nav {
  margin: auto; }
  @media (max-width: 991px) {
    .navbar-nav {
      margin-top: 35px; } }

.navbar-toggler {
  padding-bottom: 15px; }

.navbar-toggler__bar {
  width: 25px;
  height: 2px;
  margin: 6px;
  background-color: #eb733b; }

.header-slider-photo {
  height: 100vh;
  background-size: cover;
  background-position: center; }
  .header-slider-photo:nth-child(1) {
    background-image: url("../img/home_header_img.png"); }
  .header-slider-photo:nth-child(2) {
    background-image: url("../img/home_header_img.png"); }
  .header-slider-photo:nth-child(3) {
    background-image: url("../img/home_header_img.png"); }

.navbar-toggler {
  border: none;
  margin-top: -8px; }

.fa-bars {
  color: #eb733b; }

section.index-header-text {
  padding: 75px 0; }

.column__counter {
  border-bottom: solid 1px #fff;
  margin-bottom: 20px; }
  .column__counter:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: #ae5a33;
    background: #fff;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: 500; }

.column__text {
  font-size: 17px;
  text-align: justify; }

.column__photo {
  width: 100%;
  margin: 50px 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }

footer {
  margin-top: -50px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }

.footer__link {
  margin-right: 30px;
  position: relative;
  opacity: 1;
  font-weight: 700;
  letter-spacing: 1.8px;
  font-size: 12px; }
  .footer__link:after {
    content: "|";
    position: absolute;
    right: -19px;
    top: -2px;
    opacity: 1; }

.footer__link-active {
  opacity: 1; }

.footer__link:last-child:after {
  content: none; }

.products-desc__column {
  text-align: center; }

#product-bottle-2 {
  margin-top: -10px;
  margin-bottom: 190px; }
  @media (max-width: 991px) {
    #product-bottle-2 {
      margin-bottom: 25px; } }

#product-bottle-3 {
  margin-top: 10px;
  margin-bottom: 170px; }
  @media (max-width: 991px) {
    #product-bottle-3 {
      margin-bottom: 25px; } }

.products-desc__bottle-container {
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 180px;
  position: relative; }
  @media (max-width: 991px) {
    .products-desc__bottle-container {
      margin-bottom: 25px; }
      .products-desc__bottle-container:after {
        content: '';
        width: 300%;
        height: 150px;
        background-color: black;
        position: absolute;
        bottom: 0;
        z-index: -1; } }

.products-desc__product-label {
  margin-bottom: 50px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 50%; }

.column__info-card {
  padding: 25px;
  background-color: #000;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  text-align: center;
  height: 100%; }
  @media (max-width: 991px) {
    .column__info-card {
      height: auto; } }
  @media (max-width: 1199px) {
    .column__info-card {
      margin-bottom: 75px; }
      .column__info-card h4 {
        font-size: 20px; }
      .column__info-card p {
        font-size: 16px; } }
  .column__info-card p {
    margin-bottom: 50px; }
    .column__info-card p:last-child {
      margin-bottom: 0; }

@media (max-width: 991px) {
  .desktop-info-card-container {
    display: none; } }

.medals-container {
  text-align: center;
  margin-top: 50px; }
  .medals-container img {
    width: 100%;
    margin-bottom: 50px; }

.video {
  display: none; }

.video, .video-preview {
  height: 84vh;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }

.video-preview {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }

#video-preview-1 {
  background-image: url("../img/video_preview_1.png"); }

#video-preview-2 {
  background-image: url("../img/video_preview_2.png"); }

#video-preview-3 {
  background-image: url("../img/video_preview_3.png"); }

.embed-video-container {
  position: relative; }

.play-btn {
  width: 150px;
  height: 150px;
  opacity: .7;
  cursor: pointer; }
  .play-btn:hover {
    opacity: 1; }

.close-btn-container {
  display: none;
  position: absolute;
  right: 25px;
  top: 25px; }

.close-btn {
  cursor: pointer;
  opacity: .7; }
  .close-btn:hover {
    opacity: 1; }

.video-desc {
  margin-top: 75px;
  margin-bottom: 50px; }
  .video-desc h2 {
    margin-bottom: 5px; }
  .video-desc h2, .video-desc h3 {
    font-weight: 700; }
  .video-desc p {
    font-size: 16px; }

.buy-btn {
  display: inline-block;
  width: 260px;
  height: 46px;
  margin: 50px auto;
  text-align: center;
  background-image: url("../img/buy-btn.svg");
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px; }

form {
  text-align: right; }

#name, #surname {
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    #name, #surname {
      margin-bottom: 20px; } }

@media (max-width: 767px) {
  #email {
    margin-bottom: 20px; } }

textarea {
  height: 100%;
  resize: none;
  overflow: hidden;
  margin-bottom: 20px; }

button[type="submit"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
  padding-right: 0;
  transition: .5s; }
  button[type="submit"]:hover, button[type="submit"]:focus, button[type="submit"]:visited, button[type="submit"]:active {
    background-color: transparent !important;
    border: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    color: #eb733b; }

section.contact {
  margin-bottom: 100px; }

.adress {
  margin-bottom: 100px; }

.adress__link {
  text-decoration: underline; }
  .adress__link:hover {
    text-decoration: underline; }

.products {
  padding-top: 200px; }
  .products .column__title {
    margin-bottom: 25px;
    min-height: auto;
    font-weight: 700; }
  .products .column__text:last-child {
    margin-bottom: 50px; }
  .products .column__photo {
    margin-top: 0; }
  .products .products-desc:before {
    content: "";
    width: 100%;
    height: 200px;
    background-color: #000;
    position: absolute;
    top: 565px; }
    @media (max-width: 991px) {
      .products .products-desc:before {
        content: none; } }

.videos footer {
  margin-top: 0; }

.videos, .irland {
  padding-top: 83px; }

#video-desc2__irland {
  margin-bottom: 0; }
  #video-desc2__irland .row {
    margin-bottom: 75px; }

.contacts {
  padding-top: 200px; }
  @media (max-width: 991px) {
    .contacts {
      padding-top: 125px; } }
  .contacts h2 {
    font-weight: 500; }
  .contacts #impressum {
    margin-bottom: 50px; }
  .contacts footer {
    margin-top: 0; }
  .contacts .form-control {
    border-radius: 0 !important;
    font-family: 'Lora', serif; }

.privacy-text {
  padding-top: 150px; }
  .privacy-text h2 {
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: 600; }
  .privacy-text h3 {
    margin-bottom: 30px;
    font-size: 22px; }
    @media (max-width: 575px) {
      .privacy-text h3 {
        font-size: 20px; } }
  .privacy-text p {
    margin-bottom: 20px;
    font-size: 16px; }
  .privacy-text .text-block {
    margin-top: 100px;
    padding-top: 15px;
    position: relative; }
    .privacy-text .text-block:before {
      content: '';
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, #eb733b 0%, #faa47d 50%, #eb733b 100%);
      position: absolute;
      top: -5px; }
    .privacy-text .text-block:last-child {
      margin-bottom: 130px; }
  .privacy-text ul {
    font-family: 'Lora', serif;
    margin-bottom: 25px; }
    .privacy-text ul li {
      list-style: square;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 3px; }

.modal {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75); }

.modal-dialog {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center; }

.modal-content {
  background-color: transparent;
  border: none; }

.modal-header, .modal-footer {
  border: none; }

.modal__logo {
  margin: auto; }

.modal__form {
  width: 100%;
  text-align: center; }
  .modal__form button[type="submit"] {
    padding: .375rem .75rem;
    margin-top: 20px;
    font-size: 17px;
    letter-spacing: 2.5px; }

.modal__select {
  display: flex;
  justify-content: space-around; }
  .modal__select select {
    width: 25%; }
